                /* html and body  */
html,body
{
    height: 100%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style-type:none;
}
body
{
    color:black;
    font-style: montserrat;

}
h1,
h2,
h3,
h4,
h5,h6
{
    font-size: 50px;
    font-weight: 600;
}
p
{
    font-family: jost;
    font-size: 18px;
    line-height: 40px;
    font-weight: 600;
}
section
{
    background: white;
    overflow: hidden;
}
    
                /* buttons */

.btn-general
{
    font-size: 18px;
    border-radius: 15px;
    color:#ffae2c;
    border: 2px white solid;
    margin: 5px 8px;
    padding: 10px 46px;
    -webkit-transition: all .5s;
    transition: all .5s;
}
        
                /* navbar */
nav
{
    height: 60px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
    background: black;
}
nav .logo
{
    font-size: 33px;
    font-weight: 700;
    color: #ffae2c;
}
nav ul
{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
nav ul li 
{
    margin: 0 5px;
}
nav ul li a 
{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;

}
nav ul li a:hover,
nav ul li a.active
{
    border: #ffae2c 1px solid;
    border-radius: 5px;
    color: #ffae2c;
}
nav .menu-btn
{
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
#click 
{
    display: none;
}

@media (max-width:940px)
{
    nav .menu-btn
    {
        display: block;
    }
    #click:checked ~ .menu-btn
    {
        content: "\f00d";
    }
    nav ul 
    {
        position: fixed;
        top: 60px;
        left: -100%;
        background: #111;
        height: 100vh;
        display: block;
        text-align: center;
        width: 50%;
        transition: all 0.3s ease;
    }
    #click:checked ~ ul 
    {
        left: 0%;
    }
    nav ul li 
    {
        margin: 40px 0;
    }
    nav ul li a 
    {
        font-size: 20px;
        display: block;
    }

nav ul li a:hover,
nav ul li a.active
{
   
    color: #ffae2c;
    border: none;
}
}
                /* home */

#home
{
    background: none;
    height: 100%;
}

#home-bg-video
{
    position: fixed;
    top:50%;
    left:50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: -2;
    background: url("images/index.jpg") no-repeat;
    background-size: cover;
}


#home-content
{
    width: 100%;
    height: 100%;
    display: table;
}
#heading-2
{
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
}

#home-content-inner
{
    display: table-cell;
    vertical-align: middle;
}

#home-heading h1
{
    color: white;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;

}
#home-heading h1 span
{
    color:#ffae2c;
    font-weight: 700;
    
}
#home-text p
{
    color:white;
    letter-spacing: 1px;
    font-style: jost,sanserif;
    font-size: 18px;
    font-weight: 300;
    text-transform: capitalize;
}
#arrow-down
{
    position: absolute;
    left: 50%;
    bottom: 30px;
    color: white;
    text-align: center;
    font-size: 26px;
    width: 26px;
    height: 26px;
    margin-left: -13px;
    transition: all .5s;
    z-index: 1;
}

#arrow-down:hover
{
    color:#ffae2c;
    font-size: 30px;
    
}



.btn-home:hover
{
    color:white;
    background-color:rgb(17, 17, 87);
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
    transform: scale(1.03);
}

             /* home overlay */

#home-overlay
{
    background-color:rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}


/* content boxes  */

.content-box-lg
{
    padding: 100px 0px;
    
}

/* vertical headings */

.vertical-heading
{
    margin-top: 0px;
    margin-left: 30px;
}

.vertical-heading h5
{
    color:#ffae2c;
    font-size:30px;
    font-weight: 900;
    text-transform: uppercase;
    word-spacing: 6px;
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: relative;
    top:70px;
    left: -80px;
}
.vertical-heading h2
{
    margin-left: 30px;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 30px;

}
#about
{
    margin-top: 60px;
}
#about-right p
{
    font-size: 18px;
    margin: 10px 0 10px 20px;
    padding: 3px;
}

#about-bottom
{
    margin-top: 10px;
}

#about-bottom img
{
    margin: 0 auto;
    padding: 20px 50px;
}

/* services  */

.services
{
    background-image: linear-gradient(rgba(26, 31, 95, 0.69),rgba(26, 31, 95, 0.69)),url(photos/student.jpg);
    background-size: cover;
    background-position: center;
    color:#fff;
    padding: 15px 9%;
    padding-bottom: 100px;
}
.services .heading 
{
    text-align: center;
    padding-bottom: 15px;
    color:#ffae2c;
    text-shadow: 0 5px 10px rgba(0,0,0,.5);
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 40px;
}
div
{
    display: block;
}
.services .box-container
{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;

}
.services .box-container .box
{
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
    border-radius: 5px;
    background-color: white;
    text-align: center;
    margin: 20px;
    padding: 20px;
    position: relative;
}
.services .box-container .box img
{
    height: 150px;
}
.services .box-container a
{
    text-decoration: none;
}
.services .box-container a:hover
{
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
    transform: scale(1.03);

}

.services .box-container .box h3
{
    color: navy;
    font-size: 25px;
    margin-top: 20px;
    font-weight: 600;
}

                            /* about section  */

#aboutUs
{
    background: white;
    padding-top: 35px;
    padding-bottom: 25;
    overflow: hidden;
    padding-top: 70px;
}
#aboutUs .container
{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: table;
}
#aboutUs .feature 
{
    margin-top: 30px;
    margin-bottom: 54px;
}
#aboutUs .row
{
    margin-left: -15px;
    margin-right: -15px;
    display: table;
    content: " ";
    clear: both;
}
#aboutUs .right
{
    float: right;
    padding-left: 32px;
}

#aboutUs h2{
    font-size: 43px;
    color: #3943C3;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 1.1;
}
#aboutUs .left {
    padding-right: 32px;
    float: left;
}

#aboutUs img
{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
#aboutUs .row .seven
{
    width: 60%;
}
#aboutUs .row .six
{
    width: 40%;
}
@media (max-width: 768px)
{
    #aboutUs .row .six, #aboutUs .row .seven 
    {
    width: auto;
    }
}

/* contact section  */

.contact
{
    position: relative;
    background-image: linear-gradient(rgba(19, 3, 110, 0.69),rgba(24, 4, 97, 0.69)),url(photos/ccc.jpg);
    background-size: cover;
    justify-content: center;
    
    padding: 60px 100px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.contact .content 
{
    max-width: 800px;
    text-align: center;

}
.contact .content h2
{
    font-size: 50px;
    font-weight: 700;
    color:#ffae2c;
    text-transform: uppercase;
    margin-bottom: 40px;
    
}
.contact .container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.contact .container .contactinfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contact .container .contactinfo .box
{
    padding: 20px,0;
    position: relative;
    display: flex;
}
.contact .container .contactinfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    color:#ffae2c;
    

}
.contact .container .contactinfo .box .text 
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color:white;
    flex-direction: column;
}
.text h3
{
    font-size: 25px;
    font-weight: 500;
    color:#ffae2c;

}

.text p
{
    font-size: 20px;
    font-weight: 200;
    font-style: jost;
}
.contactform
{
    padding: 40px;
    width: 40%;
    background:white;
    color: black;
    border-radius: 10px;
}
.contactform h2
{
    color: navy;
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 700;
}
.contactform .inputbox
{
    position: relative;
    width: 100%;
    margin-top: 25px;
}
.contactform .inputbox input,
.contactform .inputbox textarea
{
    width: 100%;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactform .inputbox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactform .inputbox  input:focus ~ span,
.contactform .inputbox  input:valid ~ span,
.contactform .inputbox  textarea:focus ~ span,
.contactform .inputbox  textarea:valid ~ span
{
    color:red;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactform .inputbox  input[type="submit"]
{
    width: 150px;
    display: block;
    background: navy;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 22px;
    border-radius: 5px;
    font-weight: 500;
    
}
.contactform .inputbox  input[type="submit"]:hover
{
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
    transform: scale(1.03);

}
@media (max-width:900px)
{
    .contact
    {
        padding: 50px;
    }
    .contact .container
    {
        flex-direction: column;

    }
    .contact .box .text p 
    {
        font-size: 15px;
    }
    .contact .box .text .icon 
    {
        font-size: 8px;
    }
    .contact .container .contactinfo
    {
        margin-bottom: 40px;
    }
    .contact .container .contactinfo ,
    .contactform
    {
        width: 100%;
    }
    
}
/* map  */
.map
{
    background: white;
}
.container-fluid
{
    padding-top: 12px;
}


/* footer */
footer
{
    background: rgba(7, 7, 77,0.5);
    padding: 25px;
}
footer p
{
    color: white;
    margin: 0;
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 500;
}
footer p span
{
    color:#ffae2c;
    font-weight: 700;
    font-size: 20px;

}
